<section *ngIf="service.state$ | async as state">
  <div *ngIf="state.matches('failed')">
    Failed to load posts <button (click)="retry()">Retry?</button>
  </div>
  <div *ngIf="state.matches('loading')">Loading...</div>
  <div *ngIf="state.matches('loaded')">
    <header>
      <h2>{{ state.context.subreddit }}</h2>
      <small>
        Last updated: {{ state.context.lastUpdated | date: long }}
        <button class="refresh-button" (click)="refresh()">Refresh</button>
      </small>
    </header>
    <ul>
      <li *ngFor="let post of state.context.posts">
        {{ post.title }}
      </li>
    </ul>
  </div>
</section>
